.btn-click {
  width: 24px;
  height: 32px;
  padding: 0px;
  margin-top: 20px;
  margin-left: 18px;
  margin-bottom: 20px;
  background: none;
  border: 0px;
  text-align: center;
  align-items: center;
  cursor: pointer;
}

.btn-click div {
  position: absolute;
  background-color: #81b29a;
  padding-bottom: 0px;
  width: 24px;
  height: 3px;
  border: 0px;
  text-align: center;
  align-items: center;
  cursor: pointer;
  transition: 0.5s;
}

.btn-click div::before {
  content: "";
  position: absolute;
  display: block;
  width: 24px;
  height: 3px;
  top: -7px;
  background-color: #81b29a;
  border: 0px;
  text-align: center;
  align-items: center;
  cursor: pointer;
  transition: 0.5s;
}

.btn-click div::after {
  content: "";
  position: absolute;
  display: block;
  width: 24px;
  height: 3px;
  top: 7px;
  background-color: #81b29a;
  border: 0px;
  text-align: center;
  align-items: center;
  cursor: pointer;
  transition: 0.5s;
}

.btn-click2 {
  width: 24px;
  height: 32px;
  padding: 0px;
  margin-top: 20px;
  margin-left: 18px;
  margin-bottom: 20px;
  background: none;
  border: 0px;
  text-align: center;
  align-items: center;
  cursor: pointer;
}

.btn-click2 div {
  position: absolute;
  background-color: transparent;
  padding-bottom: 0px;
  width: 24px;
  height: 3px;
  border: 0px;
  text-align: center;
  align-items: center;
  cursor: pointer;
  transition: 0.5s;
}

.btn-click2 div::before {
  content: "";
  position: absolute;
  display: block;
  width: 24px;
  height: 3px;
  top: 0px;
  background-color: #81b29a;
  border: 0px;
  text-align: center;
  align-items: center;
  cursor: pointer;
  transition: 0.5s;
  transform: rotate(45deg)
}

.btn-click2 div::after {
  content: "";
  position: absolute;
  display: block;
  width: 24px;
  height: 3px;
  top: 0px;
  background-color: #81b29a;
  border: 0px;
  text-align: center;
  align-items: center;
  cursor: pointer;
  transition: 0.5s;
  transform: rotate(-45deg);
}

.sidebar {
  min-width: 150px;
  margin: 0;
  padding: 0;
  position: absolute;
  height: 100%;
  overflow: auto;
  transition: 0.5s;
}

.sidebar::-webkit-scrollbar {
  display: none;
}

.sidebar a {
  display: block;
  padding: 16px;
  text-decoration: none;
}

.sidebar a:hover {
  color: white;
}

.btn-op {
  width: 150px;
  height: 15px;
  margin-left: 1em;
  margin-bottom: 20px;
  cursor: pointer;
  background-color: #81b29a;
  color: #006d77;
  border: 0px;
  font-weight: 700;
  text-align: center;
  border-radius: 4px;
  transition: all 180ms ease-in-out 0s;
  transition-property: all;
  transition-duration: 180ms;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
}

.btn-op:hover {
  width: 155px;
  height: 20px;
  transition: 0.2s;
}

.MyImg{
  width: 190px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  border-style: groove;
}

.sectionHeight {
  transition: 0.7s;
  height: 0px;
  text-align: center;
  align-items: center;
}

.Div {
  width: 100%;
  text-align: center;
  margin-top: 50px;
}

.btn-primary {
  width: 250px;
  height: 40px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  background-color: #81b29a;
  color: #006d77;
  border: 0px;
  font-weight: 700;
  text-align: center;
  border-radius: 4px;
  transition: all 180ms ease-in-out 0s;
  transition-property: all;
  transition-duration: 180ms;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
}

.btn-primary:hover {
  width: 255px;
  height: 45px;
  transition: 0.2s;
}

.btn-primary:hover, .btn:hover, .btn-op:hover {
  color: white;
}

.footer {
  width: 100%;
  text-align: center;
  color: #006d77;
  background: linear-gradient(to top, #303E45, #1E1F24);
  left: 0;
  bottom: 0;
  position: fixed;
  padding: 1em;
  font-size: 0.7em;
}

@media screen and (max-width: 700px) {
  .sidebar
  {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .btn-a {
    display: flex;
    text-decoration:none;
    margin-left: 10px;
    margin-right: 5px;
  }  
  
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}