body{
    background: linear-gradient(to top, #006d77, #363636);
    background-size: cover;
    margin-bottom: 90px;
}

h1{
    text-align: center;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    color: #e9ecef;
}

.Div{
    text-align: center;
    margin-top: 50px;
}

.MyImg{
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    border-style: groove;
}

.btn-primary {
    width: 250px;
    height: 40px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    background-color: #81b29a;
    color: #006d77;
    border: 0px;
    font-weight: 700;
    text-align: center;
    border-radius: 4px;
    transition: all 180ms ease-in-out 0s;
    transition-property: all;
    transition-duration: 180ms;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
}

.btn-primary:hover {
    color: white;
}

.footer {
    text-align: center;
    width: 100%;
    bottom: 0;
    position: fixed;
    padding-bottom: 1em;
    font-size: 0.7em;
}