body{
    background: linear-gradient(to top, #006d77, #363636);
    background-size: cover;
    margin-bottom: 90px;
}

h1{
    text-align: center;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    color: #e9ecef;
}

button{
    width: 32px;
    height: 2px;
    text-align: center;
    align-items: center;
    cursor: pointer;
}

.btn:focus{
    background-color: blue;
}
 
.Div{
    text-align: center;
    margin-top: 50px;
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 0px;
    position: fixed;
    height: 100%;
    overflow: auto;
    transition: 0.5s;
  }

.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }

  .sidebar a:focus {
    background-color: #555;
    color: white;
  }

  .sidebar a:hover.active {
    background-color: #555;
    color: white;
  }

  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }

  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }

.MyImg{
    width: 190px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    border-style: groove;
}

.btn-primary {
    width: 250px;
    height: 40px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    background-color: #81b29a;
    color: #006d77;
    border: 0px;
    font-weight: 700;
    text-align: center;
    border-radius: 4px;
    transition: all 180ms ease-in-out 0s;
    transition-property: all;
    transition-duration: 180ms;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
}

.btn-primary:hover {
    color: white;
}

.footer {
    text-align: center;
    width: 100%;
    bottom: 0;
    position: fixed;
    padding-bottom: 1em;
    font-size: 0.7em;
}